.feed-landing-house {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    gap: 5px;
    justify-content: space-around;
}

.post-tiles {
    width: 300px;
}

/* .post-tiles:hover {
    box-shadow: 5px 5px 5px grey;
} */

#feed-img {
    border-radius: 5px;
}

#feed-img:hover {
    box-shadow: 5px 5px 5px grey;
}

.search-hidden-feed {
    background-color: white;
    margin-top: -8px;
    height: 150px;
    overflow: auto;
    width: 70vw;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 0 0 30px 30px;
    cursor: pointer;
    margin-left: 10%;
    position: relative;
    z-index: 5;
    border-left: 4px solid rgb(183, 178, 36);
    border-right: 4px solid rgb(183, 178, 36);
    border-bottom: 4px solid rgb(183, 178, 36);
    border-top: 4px solid white;
}

.search-hidden-feed::-webkit-scrollbar {
    background-color: transparent;
}

.search-bar-item-feed:hover {
    background-color: rgb(129, 202, 245);
}
