.feed-landing-house {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    gap: 5px;
    justify-content: space-around;
}

.post-tiles {
    width: 300px;
}

/* .post-tiles:hover {
    box-shadow: 5px 5px 5px grey;
} */

#feed-img {
    border-radius: 5px;
}

#feed-img:hover {
    box-shadow: 5px 5px 5px grey;
}
