.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.nav-house {
  display:flex;
  justify-content: space-between;
  position: sticky;
  z-index: 10;
  top: 0px;
  border-bottom: none;
  background-color:#163564
}

#logo {
  height: 70px;
  margin-left: 100px;
}

.prof-btn {
  display: flex;
  align-items: center;
  margin-right: 100px;
  gap: 30px;
}

#profile-icon {
  border: none;
  background-color: #163564;
  font-size: 25px;
  /* color: #0FB6DE; */
  /* color: #163564; */
}

.user-menu {
  position: absolute;
  width: 100px;
  /* transform: translateX(30%); */
  background-color: white;
  border: none;
  box-shadow: 1px 1px 2px grey;
  display: flex;
  flex-direction: column;
  right: -130px;
  margin-top: 20px;
}

.profile-menu-button {
  background-color: #163564;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.profile-menu-button:hover {
  background-color: #ddd;
  color: #163564;
}

.profile-dropdown > button {
  background-color: #163564;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.profile-dropdown > button:hover {
  background-color: #ddd;
  color: #163564;
}

.login-signup {
  display:flex;
  flex-direction: column;
  position: absolute;
  width: 100px;
  right: -25px;
  top: 15px;
}

.login-signup > button{
  background-color: #163564;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.login-signup > button:hover{
  background-color: #ddd;
  color: #163564;
  padding: 10px;
  cursor: pointer;
}
