.post-detail-house {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.details {
    width: 400px;
    /* overflow: scroll; */
    overflow-wrap: break-word;
    overflow: auto;
    height: 500px;
}

.details > p {
    margin-top: 10px;
}

#detail-reviews-word {
    margin-top: 10px;
}

.detail-reviews {
    gap: 10px;
}

.title-and-circle {
    display: flex;
    /* position: relative; */
}

/* .title-and-circle > h1{
    white-space: 'nowrap';
    overflow: hidden;
    text-overflow: ellipsis;
} */

.progress-bar-wrapper {
    width: 50px;
    margin-left: 10px;
    /* position:absolute;
    bottom: 5px;
    right: 5px; */
}
