.profile-landing-house {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    gap: 5px;
    justify-content: space-around;
}

.post-tiles > img:hover {
    box-shadow: 5px 5px 5px grey;
}

.user-info-house {
    margin-bottom: 50px;
    background-image: url("https://i.imgur.com/QPewstI.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 325px;
    color: white;
}

.stats-house {
    margin-top: 10px;
    margin-left: 50px;
    display: flex;
    gap: 50px;
}

.pfp-count {
    font-size: 30px;
    color: rgb(183, 178, 36)
}

.banner-tags {
    margin-left: 50px;
    padding-top: 20px
}

.progress-bar-pfp {
    width: 150px;
    margin-left: 50px;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

#d-playlist-btn > button {
    border: 2px light grey;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    color: grey
}

#d-playlist-btn > button:hover {
    border: 1px light rgb(175, 173, 173);
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: darkgrey;
    color: white
}

#c-playlist-btn > button {
    border: 2px rgb(59, 61, 63);
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    background-color:rgb(51, 110, 161);
    border-radius: 5px;
}

#c-playlist-btn > button:hover {
    border: 2px rgb(59, 61, 63);
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    background-color:rgb(51, 110, 161);
    box-shadow: 3px 3px 3px grey;
    border-radius: 5px;
}

.empty-house {
    text-align: center;

}
