* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

button {
    cursor: pointer
}

/*might have to comment out if carousel doesn't work*/
.post-landing-house {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;
    gap: 5px;
    justify-content: space-around;
    height: 300px;
}


.post-form-house > #p-form {
    display: flex;
    flex-direction: column;
}

.top-landing {
    background-image: url('https://i.imgur.com/EF5L0Xa.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}

.bottom-landing {
    margin-left: 10%;
}

.welcome-text {
    color: white;
    position: relative;
    top: 20%;
    transform: translateY(50%); /* Center the element vertically */
  }

#pl-message {
    margin-top: 20px;
    margin-left: 5%;
    font-size: 35px;
}

.footer {
    margin-top: 100px;
}


.search-hidden {
    background-color: white;
    margin-top: 80px;
    height: 150px;
    overflow: auto;
    width: 74.4vw;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 0 0 30px 30px;
    cursor: pointer;
}

.search-hidden::-webkit-scrollbar {
    background-color: transparent;
  }

  .search-bar-item:hover {
    background-color: rgb(129, 202, 245);
  }
